table th, td {
  padding: 10px;
  border-bottom: 0.1em solid darkgray;
}

/*table td {
  padding: 10px;
}*/

label{
  padding: 5px;
}

.formInput {
  padding: 5px;
  margin: 5px;
  border: none;
  border:solid 1px #ccc;
  border-radius: 5px;
}

.formButton {
  padding: 8px;
  margin: 5px;
  color: white;
  background-color: cornflowerblue;
  border: none;
  border-radius: 5px;
}
